<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true">
        
        <activity
            android:name=".ConfigurationActivity"
            android:exported="true"
            android:configChanges="uiMode|orientation|screenSize|screenLayout|keyboard|keyboardHidden|fontScale"
            android:theme="@style/WidgetConfigTheme">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.sec.android.widgetapp.APPWIDGET_RECONFIGURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".WidgetConfigureClickActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        
        <receiver
                android:name=".FinderWidget"
                android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.intent.action.CONFIGURATION_CHANGED" />
                <action android:name="com.sec.android.widgetapp.APPWIDGET_RECONFIGURE" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_info"/>
                    
            <!-- Add Samsung-specific meta-data for widget settings button -->
            <meta-data 
                    android:name="android.appwidget.provider.semConfigureActivity" 
                    android:value="ris58h.galaxyfinder.widget.ConfigurationActivity" />
        </receiver>
    </application>

</manifest>
